@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="texto display-4">Bem-vindo(a)!</h1>
    <h3 class="texto">Sua porta de entrada para experiências inesquecíveis pelo mundo!</h3>
<div class="container">
    <img class="img-banner" src="img/banner-cg-viagem.png" />
    <a href="/cliente" class="acesso">VAMOS VIAJAR!</a>
</div>
</div>
